/* Write your CSS here */

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-match-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 3rem 2rem;
}

.RCB {
  background: linear-gradient(to top, #1e293b, #a4261d);
}

.KKR {
  background: linear-gradient(to top, #1e293b, #5755a7);
}

.KXP {
  background: linear-gradient(to top, #1e293b, #d91c1f);
}

.CSK {
  background: linear-gradient(to top, #1e293b, #f7db00);
}

.RR {
  background: linear-gradient(to top, #1e293b, #da237b);
}

.MI {
  background: linear-gradient(to top, #1e293b, #13418b);
}
.SH {
  background: linear-gradient(to top, #1e293b, #f26d22);
}
.DC {
  background: linear-gradient(to top, #1e293b, #4f5db0);
}

.banner-img-container {
  /* width: 90%; */
  /* margin-top: 3rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-img {
  width: 100%;
}

.recent-matches-list {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-wrap: wrap; */
  margin-top: 24px;
  width: 100%;
  gap: 1.6rem 1.6rem;
}
@media screen and (max-width: 767px) {
  .recent-matches-list {
    padding-left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .recent-matches-list {
    margin-top: 32px;
  }
}
